.content {
    margin-top: 2rem;
}
.content .jumbotron {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.display-4 {
    font-size: 2.5rem;
}

#player {
    display: none;
}

#status .fas {
    margin-bottom: 8px;
}

#status small {
    margin-top: 10px;
    color: #777777;
}

.progress {
    height: 2px;
    margin-bottom: 14px;
}
